<table class="table table-striped table-condensed table-bordered table-hover">
<thead>
	<tr>
		<th rowspan="2">Name</th>
		<th colspan="{{ 6 + group.getPerformanceJudges().size() }}" class="active">Performance: Total</th>
		<th rowspan="2" style="width: 10px"></th>
		<th colspan="{{ 6 + group.getPerformanceJudges().size() }}" class="success">Performance: Execution</th>
		<th rowspan="2" style="width: 10px"></th>
		<th colspan="{{ 6 + group.getPerformanceJudges().size() }}" class="info">Performance: Choreography</th>
		<th rowspan="2" style="width: 10px"></th>
		<th colspan="{{ 6 + group.getPerformanceJudges().size() }}" class="warning">Performance: Music and Timing</th>
	</tr>
	<tr>
		<th>AVG</th>
		<th>MIN</th>
		<th>MAX</th>
		<th>RANGE</th>
		<th>SD</th>
		<th>V</th>
		{% for p in group.getPerformanceJudges() %}
			<th>{{ p.getName() }}</th>
		{% endfor %}
		
		<th class="success">AVG</th>
		<th class="success">MIN</th>
		<th class="success">MAX</th>
		<th class="success">RANGE</th>
		<th class="success">SD</th>
		<th class="success">V</th>
		{% for p in group.getPerformanceJudges() %}
			<th class="success">{{ p.getName() }}</th>
		{% endfor %}
		
		<th class="info">AVG</th>
		<th class="info">MIN</th>
		<th class="info">MAX</th>
		<th class="info">RANGE</th>
		<th class="info">SD</th>
		<th class="info">V</th>
		{% for p in group.getPerformanceJudges() %}
			<th class="info">{{ p.getName() }}</th>
		{% endfor %}
		
		<th class="warning">AVG</th>
		<th class="warning">MIN</th>
		<th class="warning">MAX</th>
		<th class="warning">RANGE</th>
		<th class="warning">SD</th>
		<th class="warning">V</th>
		{% for p in group.getPerformanceJudges() %}
			<th class="warning">{{ p.getName() }}</th>
		{% endfor %}
	</tr>
</thead>
<tbody>
{% for routine in group.getRoutines() %}
<tr>
	<td style="white-space: nowrap;">{{ routine.getName() }}</td>
	
	{% set total = results.getTotal(routine) %}
	<td class="right-align">{{ "%.2f"|format(total.getAvg()) }}</td>
	<td class="right-align">{{ "%.2f"|format(total.getMin()) }}</td>
	<td class="right-align">{{ "%.2f"|format(total.getMax()) }}</td>
	<td class="right-align">{{ "%.2f"|format(total.getRange()) }}</td>
	<td class="right-align">{{ "%.2f"|format(total.getSd()) }}</td>
	<td class="right-align">{{ "%.2f"|format(total.getVariance()) }}</td>
	
	{% for i in 1..group.getPerformanceJudges().size() %}
		<td class="right-align">{{ "%.2f"|format(routine.getPerformanceScore(i).getTotal()) }}</td>
	{% endfor %}
	{% if loop.first %}
	<td rowspan="{{ group.getRoutines().size() }}"></td>
	{% endif %}
	
	{% set execution = results.getExecution(routine) %}
	<td class="right-align">{{ "%.2f"|format(execution.getAvg()) }}</td>
	<td class="right-align">{{ "%.2f"|format(execution.getMin()) }}</td>
	<td class="right-align">{{ "%.2f"|format(execution.getMax()) }}</td>
	<td class="right-align">{{ "%.2f"|format(execution.getRange()) }}</td>
	<td class="right-align">{{ "%.2f"|format(execution.getSd()) }}</td>
	<td class="right-align">{{ "%.2f"|format(execution.getVariance()) }}</td>
	
	{% for i in 1..group.getPerformanceJudges().size() %}
		<td class="right-align">{{ "%.2f"|format(routine.getPerformanceScore(i).getExecution()) }}</td>
	{% endfor %}
	{% if loop.first %}
	<td rowspan="{{ group.getRoutines().size() }}"></td>
	{% endif %}
	
	{% set choreography = results.getChoreography(routine) %}
	<td class="right-align">{{ "%.2f"|format(choreography.getAvg()) }}</td>
	<td class="right-align">{{ "%.2f"|format(choreography.getMin()) }}</td>
	<td class="right-align">{{ "%.2f"|format(choreography.getMax()) }}</td>
	<td class="right-align">{{ "%.2f"|format(choreography.getRange()) }}</td>
	<td class="right-align">{{ "%.2f"|format(choreography.getSd()) }}</td>
	<td class="right-align">{{ "%.2f"|format(choreography.getVariance()) }}</td>
	
	{% for i in 1..group.getPerformanceJudges().size() %}
		<td class="right-align">{{ "%.2f"|format(routine.getPerformanceScore(i).getChoreography()) }}</td>
	{% endfor %}
	{% if loop.first %}
	<td rowspan="{{ group.getRoutines().size() }}"></td>
	{% endif %}
	
	{% set music = results.getMusicAndTiming(routine) %}
	<td class="right-align">{{ "%.2f"|format(music.getAvg()) }}</td>
	<td class="right-align">{{ "%.2f"|format(music.getMin()) }}</td>
	<td class="right-align">{{ "%.2f"|format(music.getMax()) }}</td>
	<td class="right-align">{{ "%.2f"|format(music.getRange()) }}</td>
	<td class="right-align">{{ "%.2f"|format(music.getSd()) }}</td>
	<td class="right-align">{{ "%.2f"|format(music.getVariance()) }}</td>
	
	{% for i in 1..group.getPerformanceJudges().size() %}
		<td class="right-align">{{ "%.2f"|format(routine.getPerformanceScore(i).getMusicAndTiming()) }}</td>
	{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>

